{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_2.jpg);" data-stellar-background-ratio="0.5" data-section="specialties">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Discover</h2>
              <h3 class="secondary-heading">Our Specialties</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- probootstrap-bg-white -->
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="probootstrap-cell-retro">
            <div class="half">

              <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
                <div class="text text-center">
                  <h3>Baked Potato Pizza</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$20.99</p>
                </div>
              </div>
              <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_2.jpg);"></div>
                <div class="text text-center">
                  <h3>Salted Fried Chicken</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$19.99</p>
                </div>
              </div>
              <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_3.jpg);"></div>
                <div class="text text-center">
                  <h3>Imported Salmon Steak</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$20.99</p>
                </div>
              </div>

            </div>
            <div class="half">

              <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_4.jpg);"></div>
                <div class="text text-center">
                  <h3>Roast Beef (4 sticks)</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$32.99</p>
                </div>
              </div>
              <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_5.jpg);"></div>
                <div class="text text-center">
                  <h3>Tuna Roast Source</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$25.99</p>
                </div>
              </div>
              <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
                <div class="text text-center">
                  <h3>Fried Potatoes with Garlic</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$32.99</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
<section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5"  data-section="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Discover</h2>
              <h3 class="secondary-heading">Our Menu</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <figure class="image"><img src="img/img_square_1.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Fried Potatoes with Garlic</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="img/img_square_2.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Tuna Roast Source</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="img/img_square_3.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Roast Beef (4 sticks)</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="img/img_square_4.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Salted Fried Chicken</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <figure class="image"><img src="img/img_square_5.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Baked Potato Pizza</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="img/img_square_1.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Fried Potatoes with Garlic</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="img/img_square_2.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Salted Fried Chicken</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
              <li>
                <figure class="image"><img src="img/img_square_3.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
                <div class="text">
                  <span class="price">$22.99</span>
                  <h3>Tuna Roast Source</h3>
                  <p>Crab / Potatoes / Rice</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5" data-section="events">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Upcoming</h2>
              <h3 class="secondary-heading">Our Events</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 probootstrap-animate">
            <div class="probootstrap-block-image">
              <figure><img src="img/img_square_2.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
              <div class="text">
                <span class="date">June 29, 2017</span>
                <h3><a href="#">Laboriosam Quod Dignissimos</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                <p class=""><a href="#" class="probootstrap-custom-link link-sm">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 probootstrap-animate">
            <div class="probootstrap-block-image">
              <figure><img src="img/img_square_3.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
              <div class="text">
                <span class="date">June 29, 2017</span>
                <h3><a href="#">Laboriosam Quod Dignissimos</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                <p class=""><a href="#" class="probootstrap-custom-link link-sm">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 probootstrap-animate">
            <div class="probootstrap-block-image">
              <figure><img src="img/img_square_4.jpg" alt="Free Bootstrap Template by uicookies.com"></figure>
              <div class="text">
                <span class="date">June 29, 2017</span>
                <h3><a href="#">Laboriosam Quod Dignissimos</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                <p class=""><a href="#" class="probootstrap-custom-link link-sm">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
